.wrapper{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 60px 60px 60px 60px 60px; 
    padding: 2rem;
  
}
.label{
    grid-column-start: 1;    
    grid-column-end: 5;
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    border-radius: 10px ;
    text-align: right;
    font-size: 2rem;
}