*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  margin: 50px auto;
  width: 400px;
  height: 500px;
  background-color: aqua;
}
/* .wrapper{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 60px 60px 60px 60px 60px; 
  padding: 2rem;

} */









